#lists:deep{
  width: 100%;
  min-height: 100vh;
  background-color: #f4f4f4;
  .inner{
    .list_box{
      width: 100%;
      padding: 30px 0;
      .add_item{
        width: 100%;
        margin: 5px 0;
        padding: 20px;
        border-color: #00579A;
        border-width: 2px;
        border-style: dashed;
        border-radius: 7px;
        background-color: #ddeeff;
        transition: .2s;
        cursor: pointer;
        &:hover{
          background-color: #ccddff;
        }
      }
      .list_item{
        width: 100%;
        margin: 5px 0;
        padding: 20px;
        border-radius: 7px;
        background-color: #fff;
        display: flex;
        align-items: center;
        justify-content: space-between;
        transition: .2s;
        box-shadow: 0 0 10px rgba(0,0,0,.15);
        &:hover{
          background-color: #00579A;
          color: #fff;
          *:not(input){
            color: #fff;
          }
        }
      }
    }
  }
  .new_name_dialog{
    .input_name{
      margin-bottom: 10px;
    }
  }
}
