# VITE_YT_API_KEY = {{ youtube api key }}
# VITE_FIREBASE_API_KEY = {{ firebase api key (invalid) }}
# VITE_API_KEY = {{ api domain }}
# VITE_STORAGE_KEY = {{ 忘了幹嘛用 }}
# VITE_MODE = {{ develop | prod }}